
<div class="row">
  <div class="col-sm-12" style="background-color: #8e2222; color: #ffffff">
    <div class="user-analytics">
      <h2>User Analytics</h2>
      <ul>
        <li><%= User.how_many%></li>
        <li><%= User.most_reviews%></li>
      </ul>
    </div>
  </div>
</div>
<br>
<br>
<div class="row">
  <div class="col-sm-12" style="background-color: #8e2222; color: #ffffff">
    <div class="truck-analytics">
      <h2>Truck Analytics</h2>
      <ul>
        <li><%= Truck.zip_with_most_trucks%></li>
        <li><%= Truck.highest_rated%></li>
        <li><%= Truck.favorite%></li>
      </ul>
    </div>
  </div>
</div>
