
<%# search bar%>
<hgroup class="row">
  <h2>Search Food Trucks By Zip Code</h2>
</hgroup>


<form class="navbar-form navbar-left" role="search" action="/trucks" method='get' >
    <div class="form-group">
        <input name="zip" type="text" class="form-control" placeholder="Zip Code">
    </div>
    <button type="submit" class="btn btn-default">
        <span class="glyphicon glyphicon-search"></span>
    </button>
</form>

<br>
<br>
<br>

<%# search results header%>
<%# url is blank where no search was run yet%>
<% if @url %>
  <hgroup class="row">
  		<h2 class="lead"><%= @trucks.count %> food trucks were found in your area</h2>
  </hgroup>

  <div class="col-l-12 img-fluid" style="text-align: center;">
        <img src=<%= @url %> alt="">
  </div>
<% end %>

<%# map - only shows after search - otherise url is nil %>


<br>
<br>

<%# each truck details %>
<div class="row row-margin-bottom">

  <% @trucks.each_with_index do |tr, i| %>
    <div class="col-md-5 no-padding lib-item" data-category="view">
        <div class="lib-panel">
            <div class="row box-shadow">
                <div class="col-md-6">
                    <a href="<%= truck_path(tr) %>"><img class="lib-img-show" src="<%= "#{tr.img_url}" %>" height="160" width="200"></a>
                </div>
                <div class="col-md-6">
                    <div class="lib-row lib-header">
                        <h5><%= "#{i+1}. " %><%= link_to tr.name, truck_path(tr) %></span></h5>
                        <div class="lib-header-seperator"></div>
                    </div>
                    <div class="lib-row lib-desc">
                      <%= tr.location.street_address %><br>
                      <%= tr.category.name %><br>

                      <%# rating %>
                      <% if tr.rating %>
                        <%= tr.rating %>
                        -
                        <% tr.rating.round.times do %>
                          <span class="glyphicon glyphicon-star"></span>
                        <% end %>
                        <% (5 - tr.rating.round).times do %>
                          <span class="glyphicon glyphicon-star-empty"></span>
                        <% end %><br>
                      <% end %>

                      <%# pricey %>
                      <% if tr.pricey %>
                        <% tr.pricey.times do %>
                          <span class="glyphicon glyphicon-bitcoin"></span>
                        <% end %>
                      <% end %>

                    </div>
                </div>
            </div>
        </div>
    </div>
  <% end %>
</div>
